.top-space {
	margin-top: 20px;
}
.box {
	background: rgba(255,255,255,0.75);
	box-sizing: border-box;
    z-index: 1000;
    margin-top: -40px;
    position: relative;
    font-weight: bold;
    color: #4c4c4c;
}
.event-box {
	cursor: pointer;
    z-index: 1;
}
.text-white {
	color: white;
}