.v{color:#A5C534;}
.d{color:#D6952A}
.tu{color:#5C9398}
.m{color:#810081}
.r{color:#FF0000}
.az{color:#394C6A}
.am{color:#EACD0C}
.azq{color: #2E4A6B}
.ar{color: #ECD1AA;}
.g{color:#999999;}
.ro{color:#FF00FF;}
.vi{color:#622A33;}
.ca{color: #AA5500;}
.vo{color:#664A9F;}