#myGallery { display: none; }
.gv_galleryWrap { position: relative; 	}
.gv_panel { filter: inherit; position: absolute; top: 0; left: 0; overflow: hidden;}
.gv_panel img { position: absolute; }
.gv_overlay { position: absolute; background: #222; color: white;}
.gv_filmstripWrap { overflow: hidden; position: absolute; }
.gv_frame { cursor: pointer;float: left;position: relative;	margin: 0;	padding: 0;}
.gv_frame .gv_thumbnail { position: relative;overflow: hidden !important; }
p.tags{font-size:8px; text-align:center; color:#333; line-height:10px; width:80%; margin:auto;}
.container-top {
	margin-top: 20px;
}