.link:link, .link:visited, .rosa, a:link, a:hover{color:#F91CF9;}
a:visited, .link:hover{text-decoration:none;}
.contenedor{width:1000px; margin:auto; color:#fff}
#head{width:100%; height:130px;}
#logo{width:162px; height:162px; position:absolute; z-index:10; margin-left:-6px}
#menu{width:845px; height:50px; float:right; }
#menu img{vertical-align:top; }
#menu ul{font-size:12px; margin-top:10px; width:845px; height:60px; background:url(../../imagenes/menuBg.png) repeat-x top;}
#menu li{list-style:none; float:left; width:105px; padding:15px 0px; text-align:center;  }
#menu li a:link, #menu li a:visited{text-decoration:none; color:#FFF;}
#menu .double{width:200px;}
#nav ul{list-style-position:outside; position:absolute; display:none; margin-left:0px; top:80px; background:url(../../../imagenes/bgSubMenu.png); cursor:pointer;}
#nav ul li:hover{background:#810081;}
#nav li{float:left;position:relative; display:block;}
#nav li ul ul{top:0px; left:100px;}	
#nav li ul li{ height:30px; padding-top:10px;}	
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul{display:none;}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul{display:block;}

#rs{width:100%; text-align:right; padding-top:5px;}
#promo{width:150px; height:75px; position:absolute; margin-left:725px; margin-top:10px; z-index:10;}
#body{width:100%; height:auto; display:block; min-height:650px; }
#nos{width:1000px; height:600px; background: url(../../imagenes/nos1.png) no-repeat center top;}
#nos p{margin:10px 40px 20px 0px;}
.media{width:460px; float:left; margin:0px 20px;}
h1{color:#F91CF9; font-size:45px; text-align:left; margin:50px 0; font-family:Festejate, Arial, Helvetica, sans-serif; font-weight:bold;}
p{margin:25px 0px; line-height:25px; font-size:17px; text-align:justify;}
#pie{width:100%; padding-top:40px;}
.separador{width:500px; margin:0px auto; border:#810081 solid 1px; }
#pie p.izq{line-height:30px; text-align:left;}
#pie p.der{line-height:30px; text-align:right;}	
#pie p.cent{line-height:22px; text-align:center;}	
.ftj{font-family:Festejate; font-size:30px; color:#F91CF9; font-weight:bold; margin-bottom:10px;}
small{font-size:12px;}
.t{width:300px; height:130px; padding:10px; margin:0px 6px; float:left;}
.gris{color:#999;}
.input, textarea{width:300px; padding:4px; color:#000; border-top:1px solid #8e8e8e;border-left:1px solid #8e8e8e;border-bottom:1px solid #e1e1e1;border-right:1px solid #e1e1e1;background:#E7E7E7; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; font-size:18px;}
label{text-align:left; font-size:16px; padding-top:10px;}
p.c{text-align:center;}
#contacto .btnEnviar{float:right; margin:25px 0px;}
#contacto .tres{width:320px; height:450px; margin-top:50px; float:left; margin-right:13px;}
.vertical{-webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);}