#lineas{width:100%; height:auto;}
#lineas ul{margin-top:50px;}
#lineas ul li{line-height:30px; text-decoration:none; text-align:center;}
.f{font-family:Fest; font-size:22px;}
.l:link, .l:visited, .v:link, .v:visited, .d:link, .d:visited, .tu:link, .tu:visited, .m:link, .m:visited, .r:link, .r:visited, .az:link, .az:visited, .am:link, .am:visited, .azq:link, .azq:visited, .ar:link, .ar:visited, .g:link, .g:visited, .ro:link, .ro:visited, .vi:link, .vi:visited, .b:link, .b:visited, .ca:link, .ca:visited, .vo:link, .vo:visited{color:#FFF; text-decoration:none;}
#linea{width:100%; height:auto;}
#titulo{width:100%; height:55px;}
#titulo h3{font-family:Fest; text-align:center; font-size:40px; font-weight:bold;}
#imgL{width:850px; height:550px; vertical-align:middle;}
#ant, #sig{width:50px; height:300px; float:left; text-align:center; vertical-align:middle;  padding-top:250px;}
#s2{width:750px; height:550px; float: left;}

.lins{height:550px; width:750px; padding:0; margin:0; overflow:hidden; }
.lins img{ margin:auto;}