#servicios li{line-height:15px; font-size:16px; margin-top:10px;}
.serv{width:460px; height:410px; text-align:center;}
.oc{display:none;}
.serv h3{font-family:Festejate; font-size:30px; text-align:center; margin-bottom:15px; font-weight:bold;}
.alert{color:#000; margin:auto; border:#CCC solid 1px; background:#FFFFCE; -moz-border-radius:5px;-webkit-border-radius:5px; text-align:center; height:25px; padding-top:10px}
.load{color:#000; margin:auto; border:#CCC solid 1px; background:#E6E9EF; -moz-border-radius:5px;-webkit-border-radius:5px; text-align:center; height:25px; padding-top:10px}
.correcto{color:#000; margin:auto; border:#008844 solid 1px; background:#E5F3EC; -moz-border-radius:5px;-webkit-border-radius:5px; text-align:center; height:25px; padding-top:10px}
.error{color:#FFF; margin:auto; border:#990000 solid 1px; background:#BB0000; -moz-border-radius:5px;-webkit-border-radius:5px; text-align:center; height:25px; padding-top:10px}
.text-middle {
	font-size: 1.83em;
}